<form
  [formGroup]="addArticleForm"
  (ngSubmit)="forUpdate ? updateArticle() : addArticle()"
>
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" />
    <mat-hint *ngIf="isFieldInvalid('title')">This field is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Content"
      formControlName="content"
    ></textarea>
    <mat-hint *ngIf="isFieldInvalid('content')"
      >This field is required, 10 - 250 symbols</mat-hint
    >
  </mat-form-field>

  <mat-form-field>
    <input
      type="text"
      placeholder="Choose category"
      aria-label="Number"
      matInput
      formControlName="category"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayValue"
    >
      <mat-option
        *ngFor="let option of (filteredOptions$ | async)"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint *ngIf="isFieldInvalid('category')"
      >This field is required</mat-hint
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Image link" formControlName="imgUrl" />
  </mat-form-field>
  <button
    *ngIf="!forUpdate"
    mat-button
    color="primary"
    [disabled]="addArticleForm.invalid"
  >
    Add
  </button>
  <button
    *ngIf="forUpdate"
    mat-button
    color="primary"
    [disabled]="addArticleForm.invalid"
  >
    Update
  </button>
</form>
